/* Shrink heading sizes */
.reveal h1 {
    font-size: 3em;
}
.reveal h2 {
    font-size: 1.5em;
}

/* General shrink class for small text */
.reveal .shrink {
    font-size: 1.5rem;
}

/* Even smaller text */
.reveal .extra-shrink {
    font-size: 1rem;
}

/* Give images a white background */
.reveal section img {
    background-color: white;
}

/* Make code blocks visible */
pre.rouge {
    color: black;
}
